(
    layouts: {
        "MainAndVertStack": (
            column_type: MainAndStack,
            stack_split: Horizontal,
        ),
        "MainAndHorizontalStack": (
            column_type: MainAndStack,
            stack_split: Vertical,
        ),
        "RightMainAndVertStack": (
            column_type: MainAndStack,
            stack_split: Horizontal,
            flipped: Vertical,
        ),
        "Grid": (
            column_type: Stack,
            stack_split: Grid
        ),
        "Fibonacci": (
            column_type: MainAndStack,
            stack_split: Fibonacci,
        ),
        "Dwindle": (
            column_type: MainAndStack,
            stack_split: Dwindle,
        ),
        "CenterMain": (
            column_type: CenterMain,
            stack_split: Horizontal,
        ),
        "CenterMainBalanced": (
            column_type: CenterMain,
            stack_split: Dwindle,
        ),
        "CenterMainFluid": (
            column_type: CenterMain,
            stack_split: Horizontal,
            reserve_column_space: Reserve,
            balance_stacks: false,
        ),
        "EvenHorizontal": (
            column_type: Stack,
            stack_split: Vertical,
        ),
        "EvenVertical": (
            column_type: Stack,
            stack_split: Horizontal,
        ),
        "Monocle": (
            column_type: Stack,
            stack_split: None,
            main_split: None,
        ),
        "MainAndDeck": (
            column_type: MainAndStack,
            stack_split: None,
            main_split: None,
        ),
    }
)
