[
    // single column
    (
        name: "EvenHorizontal", 
        flip: None,
        rotate: None,
        balance_stacks: false,

        main: (
            flip: None,
            rotate: None,
            split: Horizontal,
        ),

        stack: (

        )

        column_type: Stack, stack_split: Vertical
    ),
    (name: "EvenVertical", column_type: Stack, stack_split: Horizontal),
    (name: "Monocle", column_type: Stack, stack_split: None, main_split: None),
    (name: "Grid", column_type: Stack, stack_split: Grid),

    // two column
    (name: "MainAndVertStack", column_type: MainAndStack, stack_split: Horizontal),
    (name: "MainAndHorizontalStack", column_type: MainAndStack, stack_split: Vertical),
    (name: "RightMainAndVertStack", column_type: MainAndStack, stack_split: Horizontal, flipped: Vertical),
    (name: "Fibonacci", column_type: MainAndStack, stack_split: Fibonacci),
    (name: "Dwindle", column_type: MainAndStack, stack_split: Dwindle),
    (name: "MainAndDeck", column_type: MainAndStack, stack_split: None, main_split: None),

    // three column
    (name: "CenterMain", column_type: CenterMain, stack_split: Horizontal),
    (name: "CenterMainBalanced", column_type: CenterMain, stack_split: Dwindle),
    (name: "CenterMainFluid", column_type: CenterMain, stack_split: Horizontal, reserve_column_space: Reserve, balance_stacks: false),
]
